[Unit]
Description=Renderd
After=network.target auditd.service

[Service]
User=gis
Group=gis
Type=simple
Restart=always
ExecStart=/usr/local/bin/renderd --foreground --config=/etc/renderd.conf

[Install]
WantedBy=multi-user.target
